
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: url("yellow\ pink\ shade.jpg");
    background-size: cover;   
    /* background-color: rgb(247, 247, 188); */
}
.box{
    margin-top: 10px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box h1{
    font-size: 40px;
    font-weight: 600;
    color: rgb(78, 74, 74);
}
.container{
    height: auto;
    width: auto;
    padding: 0 10px;
}
.table{
    background-color: rgb(253, 193, 63);
    height: 400px;
    border-radius: 30px;
}

@media screen and (max-width: 600px) {
    .container{
     
        overflow-x: scroll;
    }
  }
  .btn_container a{

  }